:root {
  --primary-dark: #212121;
  --secondary-dark: #6e6e6e;
  --primary-btn: #e9e6e6;
}

.container {
  max-width: 90% !important;
}

.navbar {
  background-color: var(--primary-dark);
  font-size: 18px;
  border-bottom: 10px solid var(--secondary-dark);
}
.sidenav-trigger {
  cursor: pointer;
  font-size: 28px !important;
}

.side-menu {
  background-color: var(--primary-dark);
}

.side-menu a {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.header span {
  font-weight: bold;
}

.subheader {
  letter-spacing: 2px !important;
}

.center {
  margin-bottom: 20px;
}

.add-btn {
  position: relative;
  background-color: var(--secondary-dark);
}

.add-btn:hover {
  background-color: #575555;
}

.add-btn i {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: bold;
}

.projects {
  margin-top: 2rem;
}

.projects h4 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.project-details li {
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.5);
  position: relative;
  /* border-right: 3px solid orange; */
}

.project-title img {
  max-width: 50px;
  margin-right: 20px;
}

.project-edit {
  position: absolute;
  bottom: 5px;
  right: 80px;
  cursor: pointer;
}

.project-delete {
  position: absolute;
  bottom: 10px;
  right: 20px;
  cursor: pointer;
}

.project-details label {
  margin-right: 10px;
  font-size: 1rem;
}
.project-details p {
  display: inline;
}

.project-details li {
  padding: 0;
  margin: 2px;
}

.project-title {
  font-weight: bold;
  font-size: 1.1rem;
}

.project-person {
  margin: 5px 0 10px;
}

.project-date {
  margin: 5px 0;
}

.status {
  font-weight: bold;
}

/* Form Styles */
.side-form-add button,
.side-form-edit button {
  background-color: var(--secondary-dark) !important;
}

.side-form-add,
.side-form-edit {
  width: 60%;
}

.edit-project .input-field {
  margin-top: 0;
}

input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

form .input-field {
  margin-top: 30px;
}
