.navbar {
  background-color: #212121;
  font-size: 18px;
}
.sidenav-trigger {
  cursor: pointer;
  font-size: 28px !important;
}

.side-menu {
  background-color: #212121;
}

.side-menu a {
  letter-spacing: 1px;
}

.header {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subheader {
  letter-spacing: 2px !important;
}

.center {
  margin-bottom: 20px;
}

.add-btn {
  position: relative;
  background-color: #333333;
}

.add-btn:hover {
  background-color: #575555;
}

.add-btn i {
  position: absolute;
  top: 1px;
  left: 0;
  font-weight: bold;
}
